<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <connectionStrings>
      <!--<add name="COMP329" connectionString="Data Source=(DESCRIPTION =(ADDRESS_LIST=(ADDRESS=(PROTOCOL=TCP)(HOST = localhost)(PORT = 1521)))(CONNECT_DATA =(SID = xe)));User ID=SYSTEM;Password=P@ssw0rd;"/>-->
      <add name="COMP329" connectionString="Data Source=(DESCRIPTION =(ADDRESS_LIST=(ADDRESS=(PROTOCOL=TCP)(HOST =oracle.cms.waikato.ac.nz)(PORT = 1521)))(CONNECT_DATA =(SERVICE_NAME =teaching.cms.waikato.ac.nz)));User ID=COMP329_03;Password=AczSFyXWZA;"/>
    </connectionStrings>
</configuration>